@charset "UTF-8";

:root{
    /* Cores */
    --cor0: #12486B;
    --cor1: #419197;
    --cor2: #78D6C6;
    --cor3: #F5FCCD;
    --cor4: #BDBBB0;
    --corlinkedin: #0a66c2;
    --corgithub: #1715156c;
    --corinsta: radial-gradient(circle at 30% 107%, #fdf497 0%,
    #fdf497 5%, #fd5949 45%,
    #d6249f 60%, #285aeb 90%);
}

*{
    box-sizing: border-box;
}

/* Cabeçalho */
.cabecalho {
    bottom: 0%;
    width: 100%;
    padding: 1.5em;
    position: fixed;
    border: 1px solid black;
    background-color: var(--cor0);
}

.cabecalho__nav {
    display: flex;
    justify-content: space-evenly;
}

.cabecalho__link {
    gap: .3em;
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Artigo */
.artigo {
    padding: 1em;
    position: relative;
}

.artigo__div-foto {
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
}

.artigo__foto {
    width: 50%;
    border-radius: 50%;
}

.artigo__section {
    border: 1px solid blue;
}

.artigo__section-titulo {
    padding: 1em;
}

.artigo__section-paragrafo {
    padding: 1em;
}



/* Section Contato */
.contato {
    padding: .5em;
    margin-top: 1em;
    border: 1px solid blueviolet;
}

.contato__titulo {
    padding: .5em
}

.contato__lista {
    padding: .5em;
    display: flex;
}

.lista-links__icones {
    width: 35%;
}

.contato__lista-links{
    gap: .4em;
    display: flex;
    align-items: center;
}

/* Rodapé */

.rodape {
    width: 100%;
    padding: 1em;
}